/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.title {
  font-family: "Butterfly Kids", cursive;
  margin: 30px;
  text-align: center;
  font-size: 60px;
}

.container {
  text-align: center;
  margin: 20px;
}

.breed-select {
  max-width: 300px;
  margin: 20px 0;
}

.error {
  color: red;
}

.cat-info {
  display: flex;
  gap: 30px
}

.cat-info img {
  max-width: 300px;
}

.cat-info-text {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: left;
}

.cat-info-text h2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  
  .breed-select {
    left: 50%;
    transform: translateX(-50%);
  }

  .cat-info {
    flex-direction: column;
    align-items: center;
  }

  .cat-info-text h2 {
    text-align: center;
  }
  
}

.cat-info img {
  max-width: 300px;
  border-radius: 10px;
}

.loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  border: 8px solid #131a1d;
  overflow: hidden;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #263238 ;
  z-index: 5;
  border-bottom: 8px solid #131a1d;
  box-sizing: border-box;
  animation: eyeShade 3s infinite;
}
.loader::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 32px;
  z-index: 2;
  height: 32px;
  background: #111;
  border-radius: 50%;
  animation: eyeMove 3s infinite;
}
@keyframes eyeShade {
  0%   { transform: translateY(0)}
  20%   { transform: translateY(5px)}
  40% , 50%   { transform: translateY(-5px)}
  60%   { transform: translateY( -8px)}
  75%   { transform: translateY( 5px)}
  100%   { transform: translateY(10px)}
}
@keyframes eyeMove {
  0%   { transform: translate(0 , 0)}
  20%   { transform: translate(0px , 5px)}
  40% , 50%   { transform: translate(0px , -5px)}
  60%   { transform: translate(-10px , -5px)}
  75%   { transform: translate(-20px , 5px)}
  100%   { transform: translate(0 , 10px)}
}

.hidden {
  display: none;
}
